#adminWrapper{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#AdminMain{
    width:80%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#adminText{
    font-size: 1.8rem;
}
.verificationBox{
    display: flex;
    width:80%;
    justify-content: space-between;
    padding:2vh 2vw;
    background-color: #E9F9EE;
}
.verifierName{
    font-size: 1.5rem;
}
.verifyButton{
    background-color: #217D4D;
    color:white;
    font-size: 1rem;
    padding:4px 12px;
    border-radius: 10px;
}