.navBarWrapper{
    display: flex;
    flex-direction: row;
    height:20vh;
    padding:2vw;
    align-items: center;
}
#navbar{
    display: flex;
    flex-direction: row;
}
#logoNavbar{
    height:15vh;
}
#logoWrapper{
    width:30vw;
}
.navBarLinks{
    margin:0 2vw;
}
#connectToWalletButton{
    width:8vw;
    font-size:0.8rem;
    color:white;
}
#linkHolder{
    display: flex;
    align-items: center;
    width:65vw;
    justify-content: flex-end;
}
#addressDisplay{
    border:1px solid #1D5E2F;
}